.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #7c02e1;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

.loaderInButton {
  border-style: solid;
  border-color: #f3f3f3;
  border-top-color: #7c02e1;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}