.productList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  max-width: 1200px;
  margin: 40px auto;
  padding-bottom: 40px;
}

.info {
  text-align: center;
  margin-top: 120px;
  font-size: 1.25rem;
  color: #6c757d;
  font-weight: 500;

  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: #d32f2f;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 50px;
}