.productCard {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.productCard:hover {
  background-color: #ededed;
}

.deleteButtonTopRight {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 5;
}

.productContent {
  padding: 10px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .mainCardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0;

    .title {
      font-size: 1.25rem;
      font-weight: 700;
      color: #333;
    }

    .price {
      font-size: 1.3rem;
      font-weight: bold;
      color: #7c02e1;
      text-align: right;
      margin-top: auto;
    }
  }

  p {
    margin: 0 0 20px;
    color: #666;
    flex-grow: 1;
  }
}

.productHandlers {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: auto 10px 5px 10px;

  .button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    margin: 5px 2px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
  }

  .button:disabled {
    cursor: not-allowed;
  }

  .showInfoButton {
    background-color: #7c02e1;
    color: white;
  }

  .showInfoButton:hover {
    background-color: #6f01cc;
  }
}