.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal {
  background: white;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px;
  animation: slide-down 0.3s ease-out;

  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.modalHeader {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.modalHeader h2 {
  margin: 0;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #888;
}

.form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-y: auto;
  flex-grow: 1;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
}

.input:focus {
  outline: none;
  border-color: #7c02e1;
}

.inputError {
    padding: 0.75rem;
    border: 1px solid #e74c3c;
    border-radius: 4px;
    font-size: 1rem;
}

.inputError:focus {
  outline: none;
  padding: 0.75rem;
  border: 1px solid #c0392b;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: 0 0 0 2px rgba(231, 76, 60, 0.2);
}

.error {
  color: #e74c3c;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancelButton {
  background-color: #f1f1f1;
  color: #333;
}

.cancelButton:hover {
  background-color: #e1e1e1;
}

.submitButton {
  background-color: #7c02e1;
  color: white;
}

.submitButton:hover {
  background-color: #6f01cc;
}

.submitButton:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.currentImagePreview {
  margin-bottom: 1rem;
  p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #666;
    margin: 0 0 8px;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
  }
}