.pageContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.deleteOrEditButtons {
  display: flex;
  gap: 0.5rem;
}

.contentGrid {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .contentGrid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.price {
  font-size: 2.2rem;
  font-weight: bold;
  color: #7c02e1;
  margin-top: auto;
  text-align: right;
}
