.pageContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.imageContainer {
  width: 100%;
  cursor: zoom-in;
  overflow: hidden;
  border-radius: 8px;
}

.image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s ease;
}

.imageContainer:hover .image {
  transform: scale(1.05);
}