.notFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 50px;
}

.button {
  padding: 10px 15px;
  border: none;
  margin: 5px 2px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  text-align: center;
}

.button:hover {
  background-color: #e1e1e1;
}